<%
const breadcrumbs = opt.breadcrumbs && opt.breadcrumbs.length
  ? opt.breadcrumbs
  : _.breadcrumbs || (_.state.title && [{
    name: _.state.title,
    link: _.route.path
  }])

if (Array.isArray(breadcrumbs) && breadcrumbs.length) {
  %>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb <%= breadcrumbs.length < 1 ? 'd-none' : '' %>">
        <li class="breadcrumb-item">
          <a href="/">
            <svg fill="currentColor" width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M576 287.6H511.8l1 224.4H472 456 352V352H224V512H120 104 64.1V474.8c-.1-.9-.1-1.8-.1-2.8V360c0-.9 0-1.9 .1-2.8V287.6H0V240L288.4 0 416 106.5V32h96V186.6L576 240v47.6z"></path></svg>
          </a>
        </li>
        <% breadcrumbs.forEach(({ name, link }, index) => { %>
          <% if (index < breadcrumbs.length - 1) { %>
            <li
              <% if (index === breadcrumbs.length - 2) { %>
                class="breadcrumb-item"
              <% } else { %>
                class="breadcrumb-item"
              <% } %>
            >
              <a href="<%= link %>">
                <%= name %>
              </a>
            </li>
          <% } else { %>
            <li class="breadcrumb-item active" aria-current="page">
              <%= name %>
            </li>
          <% } %>
        <% }) %>
      </ol>
    </nav>
  </div>

  <script type="application/ld+json"><%-
    JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          item: {
            '@id': `https://${_.settings.domain}/`,
            name: 'Homepage'
          }
        }
      ].concat(breadcrumbs.map(({ name, link }, index) => {
        return {
          '@type': 'ListItem',
          position: index + 2,
          item: {
            '@id': `https://${_.settings.domain}${link}`,
            name
          }
        }
      }))
    })
  %></script>
<% } %>
