<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/custom-components/layout/top-bar/index') %>
    <%- await include('@/custom-components/layout/header/index') %>
    <%- await include('@/custom-components/layout/main-navigation/index') %>

    <% if (_.pageName === 'home') { %>
      <%- await include('@/custom-components/layout/full-banners/index') %>
      <%- await include('@/custom-components/layout/buy-for-environment/index') %>
      <%- await include('@/custom-components/layout/information-bar/index') %>
      <%- await include('@/custom-components/layout/triple-block/index') %>
      <%- await include('@/custom-components/layout/horizontal-banners/index') %>
      <%- await include('@/custom-components/layout/mini-banners/index') %>
      <%- await include('@/custom-components/layout/showcases/index') %>
    <% } %>

    <%- await include('@/layout/header') %>
    <%- await include('@/layout/sections') %>

    <%- await include('@/custom-components/layout/block-seo/index') %>
    <%- await include('@/custom-components/layout/buy-for-phone/index') %>
    <% if (_.pageName === 'home') { %>
      <%- await include('@/custom-components/layout/most-searched-words/index') %>
    <% } %>
    <%- await include('@/custom-components/layout/footer-links/index') %>
    <%- await include('@/custom-components/layout/footer-security-seals/index') %>
    <%- await include('@/custom-components/layout/footer-credits/index') %>

    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>
