<%
const slideOptions = {
    navigation: false,
    slidesPerView: 3.5,
    spaceBetween: 10,
}
%>

<div class="buy-for-environment d-none d-md-block">
    <div class="container">
        <div class="buy-for-environment-wrapper">
            <div class="swiper" data-start-only-device="mobile" data-slide-options='<%- JSON.stringify(slideOptions) %>'>
                <div class="swiper-clip">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/led-para-area-interna">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-area-interna.png.webp',
                                            alt: 'LED para Área Interna',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Área Interna</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-area-externa">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-area-externa.png.webp',
                                            alt: 'LED para Área Externa',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Área Externa</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/luminaria-plafon-led-para-banheiros">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-banheiro.png.webp',
                                            alt: 'LED para Banheiro',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Banheiro</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-corredores">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-corredor.png.webp',
                                            alt: 'LED para Corredor',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Corredor</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-cozinha">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-cozinha.png.webp',
                                            alt: 'LED para Cozinha',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Cozinha</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-escritorio">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-escritorio.png.webp',
                                            alt: 'LED para Escritório',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Escritório</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-dormitorios">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-quarto.png.webp',
                                            alt: 'LED para Quarto',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Quarto</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-sala-de-estar">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-sala-de-estar.png.webp',
                                            alt: 'LED para Sala de Estar',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Sala de Estar</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-sala-de-jantar">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-sala-de-jantar.png.webp',
                                            alt: 'LED para Sala de Jantar',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Sala de Jantar</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-estacionamento">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-garagem.png.webp',
                                            alt: 'LED para Estacionamento',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Estacionamento</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-garagem">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-garagem.png.webp',
                                            alt: 'LED para Garagem',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Garagem</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-cozinha">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-cozinha.png.webp',
                                            alt: 'LED para Jardim',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Jardim</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-outdoor">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-outdoor.png.webp',
                                            alt: 'LED para Outdoor',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Outdoor</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-quadra">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-quadra.png.webp',
                                            alt: 'LED para Quadra',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Quadra</span>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/led-para-varanda">
                                <div class="buy-for-environment-image">
                                    <%- await include('@/custom-components/helpers/image/index', {
                                        data: {
                                            src: '/img/uploads/buy-for-environment/led-para-area-externa.png.webp',
                                            alt: 'LED para Varanda',
                                            loading: 'lazy',
                                        }
                                    }) %>
                                </div>
                                
                                <div class="buy-for-environment-item-title">
                                    <span>LED para</span>
                                    <span>Varanda</span>
                                </div>
                            </a>
                        </div>
                    </div>
            
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>