<%
const slideOptions = {
    navigation: 'default',
    slidesPerView: 1,
    spaceBetween: 0,
} 
%>

<div class="horizontal-banners d-none d-md-block">
    <div class="container">
        <div class="horizontal-banners-wrapper">
            <div class="swiper" data-start-only-device="desktop" data-slide-options='<%- JSON.stringify(slideOptions) %>'>
                <div class="swiper-clip">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/">
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/horizontal-banners/refletores-led.png.webp',
                                        alt: 'Refletores LED',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/">
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/horizontal-banners/luminarias-led.png.webp',
                                        alt: 'Luminárias LED',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/">
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/horizontal-banners/lustres-led.png.webp',
                                        alt: 'Lustres LED',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/">
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/horizontal-banners/spots-led.png.webp',
                                        alt: 'Spots LED',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </a>
                        </div>
                    </div>
    
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
