<%
const slideOptions = {
    navigation: 'default',
    slidesPerView: 2,
    spaceBetween: 0,
}
%>

<div class="footer-security-seals d-none d-md-block">
    <div class="container">
        <div class="footer-security-seals-wrapper">
            <ul>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/google-site-seguro.png.webp',
                            alt: 'Selo Google',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/great-place-to-work.png.webp',
                            alt: 'Great Place To Work',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/trustvox.png.webp',
                            alt: 'Selo Site Sincero Trustvox',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/abcomm.png.webp',
                            alt: 'Selo Abcomm',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/ebit.png.webp',
                            alt: 'Selo Ebit',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/mercado-pago.png.webp',
                            alt: 'Selo Mercado Pago',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/site-blindado.png.webp',
                            alt: 'Selo Site Blindado',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
                <li>
                    <%- await include('@/custom-components/helpers/image/index', {
                        data: {
                            src: '/img/uploads/security-seals/site-protegido.png.webp',
                            alt: 'Selo Site Protegido',
                            loading: 'lazy',
                        }
                    }) %>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-security-seals d-block d-md-none">
    <div class="container">
        <div class="footer-security-seals-wrapper">
            <div class="swiper" data-start-only-device="mobile" data-slide-options='<%- JSON.stringify(slideOptions) %>'>
                <div class="swiper-clip">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/google-site-seguro.png.webp',
                                        alt: 'Selo Google',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/great-place-to-work.png.webp',
                                        alt: 'Great Place To Work',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/trustvox.png.webp',
                                        alt: 'Selo Site Sincero Trustvox',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/abcomm.png.webp',
                                        alt: 'Selo Abcomm',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/ebit.png.webp',
                                        alt: 'Selo Ebit',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/mercado-pago.png.webp',
                                        alt: 'Selo Mercado Pago',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/site-blindado.png.webp',
                                        alt: 'Selo Site Blindado',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <%- await include('@/custom-components/helpers/image/index', {
                                    data: {
                                        src: '/img/uploads/security-seals/site-protegido.png.webp',
                                        alt: 'Selo Site Protegido',
                                        loading: 'lazy',
                                    }
                                }) %>
                            </div>
                        </div>
                    </div>
            
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>